# Node.js dependencies
node_modules/

# Logs
logs
*.log
logs/
*.log.*
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor-specific files
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript build artifacts
*.tsbuildinfo


# Binaries
*.exe
*.out
*.app
